# Template for OTAP core scaling saturation tests
# This template is instantiated by the saturation-otap-*cores.yaml wrapper files
# OTAP is significantly faster than OTLP, so loadgen/backend ratios are higher.
name: Continuous - Saturation OTAP - {{num_cores}} Core(s)
hooks:
  run:
    pre:
      - start_otlp_metrics_sink:
          endpoint: 0.0.0.0:14317
    post:
      - stop_otlp_metrics_sink: {}
components:
  load-generator:
    deployment:
      docker:
        image: df_engine:latest
        network: testbed
        extra_hosts:
          host.docker.internal: host-gateway
        ports:
          - "8085:8080"
        volumes:
          - 'test_suites/integration/configs/loadgen/config.rendered.yaml:/home/nonroot/config.yaml:ro'
        command:
          - "--config"
          - "./config.yaml"
          - "--core-id-range"
          - "{{loadgen_core_range}}"
          - "--http-admin-bind"
          - "0.0.0.0:8080"
    monitoring:
      docker_component:
        allocated_cores: {{loadgen_cores}}
  df-engine:
    deployment:
      docker:
        image: df_engine:latest
        network: testbed
        extra_hosts:
          host.docker.internal: host-gateway
        ports:
          - "8086:8080"
        volumes:
          - 'test_suites/integration/configs/engine/config.rendered.yaml:/home/nonroot/config.yaml:ro'
        command:
          - "--config"
          - "./config.yaml"
          - "--core-id-range"
          - "{{engine_core_range}}"
          - "--http-admin-bind"
          - "0.0.0.0:8080"
    monitoring:
      docker_component:
        allocated_cores: {{num_cores}}  # The cores we're testing
  backend-service:
    deployment:
      docker:
        image: df_engine:latest
        network: testbed
        extra_hosts:
          host.docker.internal: host-gateway
        ports:
          - "8087:8080"
        volumes:
          - 'test_suites/integration/configs/backend/config.rendered.yaml:/home/nonroot/config.yaml:ro'
        command:
          - "--config"
          - "./config.yaml"
          - "--core-id-range"
          - "{{backend_core_range}}"
          - "--http-admin-bind"
          - "0.0.0.0:8080"
    monitoring:
      docker_component:
        allocated_cores: {{backend_cores}}

tests:
  - name: OTAP-ATTR-OTAP
    from_template:
      path: test_suites/integration/templates/test_steps/df-loadgen-steps-docker-push.yaml
      variables:
        test_name: OTAP-ATTR-OTAP
        result_dir: "continuous_saturation_{{num_cores}}core_otap"
        engine_config_template: test_suites/integration/templates/configs/engine/backpressure/otap-attr-otap.yaml.j2
        loadgen_exporter_type: otap
        backend_receiver_type: otap
        observation_interval: 60
        signals_per_second: null
        max_batch_size: 512
        data_source: synthetic
        log_body_size_bytes: 1024
